.categories {
    color: lightgreen;
    background-color: green;
    box-shadow: 5px 5px 5px darkgreen;
    border-radius: 15px;
    margin: 86px 20px 0 15%;
    flex-grow: 1;
    height: 300px;
}

h3 {
    font-size: 30px;
    margin-left: 20px;
    text-decoration: underline;
    font-weight: normal;
}

li {
    font-size: 20px;
}

.active {
    font-weight: bold;
}